*.exe
*.sdf
Release/
Debug/
*.log
*.opensdf
*.suo
obj/
pkg/
.vs/
thirdparty/opencv
thirdparty/brpc
docker/brpc_opencv_ffmpeg/package
benchmark/tmp/
target/
.idea/
*.iml
.xmake/
.project
.settings/
.vscode/
build/